.button {
  padding: var(--space-3) var(--space-4);
  font-size: var(--fs-base);
  font-weight: var(--fw-semi-bold);
  border-radius: var(--br-base);
  outline: 0;
  user-select: none;
  white-space: nowrap;
  transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

.button--responsive {
  padding: var(--space-1) var(--space-2);
  font-size: var(--fs-xs);
}

@media screen and (min-width: 640px) {
  .button--responsive {
    padding: var(--space-2) var(--space-3);
    font-size: var(--fs-sm);
  }
}

@media screen and (min-width: 768px) {
  .button--responsive {
    padding: var(--space-3) var(--space-4);
    font-size: var(--fs-base);
  }
}

.button:focus-visible {
  box-shadow: 0 0 0 2px var(--clr-accent);
}

.button--solid {
  color: var(--text-primary-light);
  background-color: var(--clr-800);
  border: 2px solid var(--clr-800);
}

.button--solid:hover {
  background-color: var(--clr-700);
  border-color: var(--clr-700);
}

.button--solid:active {
  background-color: var(--clr-500);
  border-color: var(--clr-500);
}

.button--outline {
  color: var(--text-primary-dark);
  background-color: var(--clr-100);
  border: 2px solid var(--clr-900);
}

.button--outline:hover {
  background-color: var(--clr-300);
}

.button--outline:active {
  background-color: var(--clr-400);
}
