.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: min(400px, 100%);
  height: 100%;
  padding: 0.5rem;
  z-index: 10;
  pointer-events: none;
}

.container {
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in-out;
  z-index: 10;
  pointer-events: all;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--clr-50);
  border-radius: var(--br-base);
  box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, 0.25);
  overflow-y: auto;
}

.toggle {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  height: min-content;
  margin: auto 0;
  padding: 0.75rem 0rem;
  background-color: var(--clr-50);
  border-radius: 0 var(--br-base) var(--br-base) 0;
  box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, 0.25);
}

.collapsed {
  transform: translateX(calc(-100% - 0.5rem));
}

.toggle__icon {
  width: var(--space-6);
  height: var(--space-6);
  fill: var(--clr-900);
  transform: rotate(0deg);
  transition: transform 250ms ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.route__info {
  display: flex;
  flex-direction: column;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-6);
}
