.header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--clr-50);
  color: var(--text-primary-dark);
  font-size: var(--fs-xl);
  font-weight: var(--fw-medium);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
  z-index: 10;
}

.menu {
  display: block;
  margin: var(--space-4);
  width: var(--icon-40dp);
  height: var(--icon-40dp);
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.drawer__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    margin: var(--space-3) var(--space-4);
  }
}

.logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo__text {
  display: none;
}

@media screen and (min-width: 1024px) {
  .logo__text {
    display: block;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--space-4);
    font-size: var(--fs-lg);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--space-4) 0 var(--space-8);
    font-size: var(--fs-xl);
  }
}

.drawer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-2);
  font-size: var(--fs-lg);
}

.drawer__nav .nav__routes {
  flex-direction: column;
  gap: var(--space-4);
}

.nav__routes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
}

.route__item {
  position: relative;
  display: flex;
}

.route__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3px;
  background-color: var(--clr-accent);
  opacity: 1;
  transform: scaleX(0%);
  transform-origin: left;
  transition: transform 150ms ease-in-out;
}

.route__item:hover::after {
  opacity: 1;
  transform: scaleX(100%);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
  margin: 0 var(--space-2) 0 auto;
}

.profile {
  position: relative;
  margin: var(--space-1) var(--space-2) var(--space-1) auto;
}

@media screen and (min-width: 768px) {
  .profile {
    margin: 0 var(--space-2) 0 auto;
  }
}

.profile__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--br-base);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-semi-bold);
  white-space: nowrap;
}

.profile__btn:hover {
  background-color: var(--clr-200);
}

.profile__btn:active,
.profile__btn--active {
  background-color: var(--clr-300);
}

.profile__name {
  display: none;
}

@media screen and (min-width: 1280px) {
  .profile__name {
    display: block;
  }
}
