.search__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-3) var(--space-2);
  cursor: pointer;
}

.search__result:hover {
  background-color: hsl(0, 0%, 85%);
}

.result__icon {
  display: flex;
  gap: var(--space-1);
}
