.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--space-3);
  background-color: var(--clr-50);
  border-radius: var(--br-base);
  font-size: var(--fs-xl);
  font-weight: var(--fw-regular);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
  overflow: hidden;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: var(--space-1);
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-3);
  padding: var(--space-2) var(--space-3);
}

.list__item:hover {
  background-color: var(--clr-100);
}

.icon > svg {
  width: var(--icon-24dp);
  height: var(--icon-24dp);
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--clr-100);
}

.logout {
  margin: var(--space-1) 0;
}
