.modal.modal__content {
  height: 100%;
  padding: var(--space-4);
  background-color: var(--clr-100);
  border-radius: var(--br-base);
}

@media screen and (min-width: 768px) {
  .modal.modal__content {
    margin: var(--space-8);
  }
}

.modal__wrapper {
  display: grid;
  grid-template-areas:
    'location'
    'aside'
    'main';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  height: 100%;
  gap: var(--space-4);
  color: var(--text-primary-dark);
  background-color: var(--clr-100);
  border-radius: var(--br-base);
  line-height: 1.2;
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .modal__wrapper {
    grid-template-areas:
      'location location'
      'aside main';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-50);
  border-radius: var(--br-base);
}

.popup__close {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
}

.location {
  grid-area: location;
}

.location__name {
  margin: var(--space-4) 0;
  font-size: var(--fs-4xl);
  font-weight: var(--fw-semi-bold);
  text-align: center;
}

.aside {
  display: grid;
  grid-area: aside;
  grid-template-rows: auto 1fr;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-rows: auto 1fr;
  gap: var(--space-4);
}

.card--forecast {
  overflow-x: auto;
}

.card--forecast-details {
  display: grid;
  grid-template-rows: auto 1fr;
}

.forecast__details {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  padding: var(--space-4);
}

@media screen and (min-width: 1280px) {
  .forecast__details {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.title {
  margin: var(--space-3) var(--space-1);
  font-size: var(--fs-3xl);
  font-weight: var(--fw-medium);
  text-align: center;
}

.forecast__list {
  display: flex;
  gap: var(--space-2);
  margin: 0 var(--space-4) var(--space-4);
  padding: var(--space-2);
  overflow-x: auto;
}

.forecast__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-2);
  border-radius: var(--br-base);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  height: 100%;
}

.forecast__btn:hover,
.forecast__btn:focus-visible {
  background-color: var(--clr-100);
}

.forecast__btn:active {
  background-color: var(--clr-200);
}

.forecast__btn--active {
  background-color: var(--clr-accent-light);
}

.forecast__btn--active:hover,
.forecast__btn--active:focus-visible {
  background-color: var(--clr-accent);
}

.forecast__date {
  flex-grow: 1;
}

.icon {
  filter: drop-shadow(0 0 2px hsla(0, 0%, 0%, 0.5));
}

.desc {
  font-size: var(--fs-sm);
  color: var(--text-primary-dark);
}

.forecast__temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--space-4) var(--space-4) var(--space-2);
}

.temp__value {
  line-height: 1;
  font-size: var(--fs-5xl);
  font-weight: var(--fw-bold);
}

.temp__value--feels-like {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-medium);
  color: var(--clr-600);
}

.forecast-data__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin: var(--space-4) 0;
  gap: var(--space-2);
}

@media screen and (min-width: 375px) {
  .forecast-data__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 640px) {
  .forecast-data__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.wind-dir {
  fill: var(--clr-accent);
  width: var(--icon-32dp);
  height: var(--icon-32dp);
  transition: transform 250ms ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  display: flex;
  align-items: flex-start;
  margin: var(--space-4) 0;
}

.temperature__value {
  line-height: 1;
  font-size: var(--fs-5xl);
  font-weight: var(--fw-bold);
}

.temperature__unit {
  font-size: var(--fs-xl);
}

.feels-like {
  color: var(--text-primary-dark);
}
