.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-2);
  margin: var(--space-4) 0 0;
}

@media screen and (min-width: 640px) {
  .pagination {
    flex-direction: row;
  }
}

.pagination__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

@media screen and (min-width: 640px) {
  .pagination__buttons {
    margin-left: auto;
  }
}

.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-48dp);
  height: var(--icon-48dp);
  background-color: var(--clr-200);
  font-weight: var(--fw-semi-bold);
  border-radius: var(--br-base);
  transition: background-color 150ms ease-in-out;
}

.pagination__button--optional {
  display: none;
}

@media screen and (min-width: 640px) {
  .pagination__button--optional {
    display: flex;
  }
}

.pagination__button > svg {
  width: var(--icon-24dp);
  height: var(--icon-24dp);
}

.pagination__button:disabled {
  opacity: 40%;
  cursor: not-allowed;
}

.pagination__button:hover,
.pagination__button:focus-visible {
  background-color: var(--clr-300);
}

.pagination__button--active {
  background-color: var(--clr-accent-light);
}

.pagination__button--active:hover,
.pagination__button--active:focus-visible {
  background-color: var(--clr-accent);
}
