.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: black;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.max-height {
  max-height: 100vh;
}
