.mapbox__popup {
  --icon-size: var(--icon-24dp);

  max-width: 200px;
  color: var(--text-primary-dark);
  font-family: var(--ff-primary);
  font-size: clamp(var(--fs-sm), 1.5vw, var(--fs-xl));
}

@media screen and (min-width: 320px) {
  .mapbox__popup {
    max-width: 240px;
  }
}

@media screen and (min-width: 768px) {
  .mapbox__popup {
    max-width: 300px;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  gap: var(--space-2-5);
}

.popup__close {
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);
}

.popup__close > svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.feature__name {
  width: calc(100% - var(--icon-size) - var(--space-1) * 2);
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 var(--space-2);
}

.info__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-1);
}

.info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__icon > svg {
  width: var(--icon-12dp);
  height: var(--icon-12dp);
  fill: var(--clr-700);
}

.info__text {
  color: var(--clr-700);
  font-size: var(--fs-xs);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.buttons__route {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--space-2) 0;
  background-color: var(--clr-200);
  border-radius: var(--br-base);
  user-select: none;
  transition: background-color 250ms ease-in-out;
}

.button > svg {
  width: var(--icon-16dp);
  height: var(--icon-16dp);
  fill: var(--clr-900);
}

@media screen and (min-width: 768px) {
  .button > svg {
    width: var(--icon-20dp);
    height: var(--icon-20dp);
  }
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-300);
}

.button:active {
  background-color: var(--clr-400);
}

.closed {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  font-size: var(--fs-base);
  color: var(--clr-red);
  fill: var(--clr-red);
}
