.marking {
  position: relative;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  background-color: white;
  border: 1px solid hsl(0, 0%, 75%);
}

.marking::after {
  content: '';
  position: absolute;
  inset: 0;
  height: calc(var(--width) * 0.75 / 3);
  margin: auto;
  background-color: var(--color);
}

.marking--xs {
  --width: 1rem;
}

.marking--sm {
  --width: 1.25rem;
}

.marking--md {
  --width: 1.5rem;
}

.marking--lg {
  --width: 2rem;
}
.marking--xl {
  --width: 3rem;
}

.marking--red {
  --color: #ff0000;
}

.marking--blue {
  --color: #0095da;
}

.marking--green {
  --color: #00a650;
}

.marking--yellow {
  --color: #ffcb04;
}

.marking--black {
  --color: #000000;
}
