.container {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  gap: var(--space-4);
  margin-bottom: 1.5rem;
  transform: translateX(-50%);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
  border-radius: var(--br-base);
  color: var(--clr-50);
  background-color: var(--clr-800);
  transition: background-color 250ms ease-in-out;
}

.button:hover {
  background-color: var(--clr-700);
}

.button:active {
  background-color: var(--clr-600);
}
