.container {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow-y: auto;
}

.list {
  --padding-inline: var(--space-4);

  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
  height: 100%;
  padding: var(--space-6) var(--space-4);
  background-color: var(--clr-50);
  color: var(--text-primary-dark);
  font-weight: var(--fw-medium);
  box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, 0.25);
}

.list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-3);
  padding: var(--space-3);
  border-radius: var(--br-base);
}

.list__item:hover,
.list__item:focus-visible {
  background-color: var(--clr-100);
}

.list__item--active {
  background-color: var(--clr-accent-light);
}

.list__item--active:hover,
.list__item--active:focus-visible {
  background-color: var(--clr-accent);
}

.list__title {
  display: none;
  margin: var(--space-4) var(--space-3) 0;
  color: var(--clr-700);
  font-size: var(--fs-sm);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
}

.list__divider {
  height: 2px;
  background-color: var(--clr-400);
  border-radius: var(--br-base);
}

@media screen and (min-width: 768px) {
  .list__title {
    display: block;
  }

  .list__divider {
    display: none;
  }
}

.icon > svg {
  width: var(--icon-24dp);
  height: var(--icon-24dp);
}

.item__text {
  display: none;
}

@media screen and (min-width: 768px) {
  .item__text {
    display: block;
  }
}

.item__tooltip {
  position: absolute;
  left: 100%;
  margin-left: calc(var(--padding-inline) + var(--space-4));
  padding: var(--space-2) var(--space-4);
  background-color: var(--clr-50);
  white-space: nowrap;
  border-radius: var(--br-base);
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, 0.25);
  transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
  z-index: 100;
}

.list__item:hover .item__tooltip,
.list__item:focus-visible .item__tooltip {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .item__tooltip {
    display: none;
  }
}
