.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--clr-100);
}

.wrapper {
  display: grid;
  grid-template-areas:
    'bulletins'
    'current'
    'details';
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  max-width: 100%;
  width: min(1280px, 100%);
  gap: var(--space-4);
  padding: var(--space-4);
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-areas:
      'bulletins bulletins'
      'current details';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}

.layout {
  height: 100vh;
}

.card {
  padding: var(--space-4);
  background-color: var(--clr-50);
  border-radius: var(--br-base);
}

.current {
  grid-area: current;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-4);
}

.avalanche__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.current__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--fs-xl);
  color: var(--clr-700);
}

.info--left {
  align-items: flex-start;
  text-align: start;
}

.info--center {
  align-items: center;
  align-self: flex-end;
  margin: 0 var(--space-2);
  font-size: var(--fs-base);
}

.info--right {
  align-items: flex-end;
  text-align: end;
}

.info__link {
  color: var(--text-primary-dark);
  font-size: var(--fs-lg);
  font-weight: var(--fw-semi-bold);
}

.info__link:hover {
  text-decoration: underline;
}

.info__value {
  font-size: var(--fs-2xl);
  color: var(--text-primary-dark);
}

.details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.details__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details__info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--space-4);
}

.details__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.details__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.elevation {
  width: var(--icon-80dp);
  height: var(--icon-80dp);
}

@media screen and (min-width: 768px) {
  .elevation {
    width: var(--icon-96dp);
    height: var(--icon-96dp);
  }
}

.bulletins {
  grid-area: bulletins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.bulletins__list {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: var(--space-2);
  overflow-x: auto;
}

.bulletins__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-1) var(--space-3);
  font-size: var(--fs-sm);
  color: var(--clr-700);
}

.icon {
  gap: var(--space-2);
}

.icon__level {
  font-size: var(--fs-xl);
}

.title {
  margin: var(--space-3) var(--space-1);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-medium);
  text-align: center;
}
