.container {
  display: grid;
  grid-template-areas:
    'stats'
    'map'
    'segments';
  grid-template-rows: auto 2fr minmax(200px, 1fr);
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-areas:
      'segments stats'
      'segments map';
    grid-template-columns: min(400px, 100%) 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

.stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-4);
}

.map {
  grid-area: map;
}

.segments {
  grid-area: segments;
  overflow-y: auto;
}

.location__name {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi-bold);
  text-align: center;
}

@media screen and (min-width: 640px) {
  .location__name {
    font-size: var(--fs-2xl);
  }
}

@media screen and (min-width: 768px) {
  .location__name {
    font-size: var(--fs-4xl);
  }
}

.stats__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stats__item {
  display: flex;
  flex-direction: column;
  color: var(--text-primary-dark);
}

.item__name {
  font-weight: var(--fw-medium);
}

@media screen and (min-width: 768px) {
  .item__name {
    font-size: var(--fs-xl);
  }
}

.item__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__value {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semi-bold);
}

@media screen and (min-width: 768px) {
  .item__value {
    font-size: var(--fs-2xl);
  }
}

.item__unit {
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--clr-700);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-2);
}
