.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto 0;
  padding: var(--space-4);
  max-height: 100%;
  overflow-y: auto;
}

.form {
  margin: var(--space-4) auto;
}
