.wrapper {
  position: relative;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
}

.layer__visibility {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-inline: 1rem;
}

.options {
  display: flex;
  align-items: center;
}
