:root {
  --clr-50: #fafafa;
  --clr-100: #f2f2f3;
  --clr-200: #e5e5e6;
  --clr-300: #d8d8da;
  --clr-400: #a3a3a8;
  --clr-500: #6f6f76;
  --clr-600: #57575c;
  --clr-700: #3e3e42;
  --clr-800: #252527;
  --clr-900: #19191a;

  --clr-accent-light: #f9a743;
  --clr-accent: #f89012;
  --clr-accent-dark: #d07506;

  --clr-red-light: #d76b70;
  --clr-red: #cc444b;
  --clr-red-dark: #ac2f35;

  --clr-green-light: #7cbb89;
  --clr-green: #59a96a;
  --clr-green-dark: #478a55;

  --ff-primary: 'Montserrat', sans-serif;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --text-primary-light: var(--clr-50);
  --text-primary-dark: var(--clr-900);

  --br-base: 0.5rem;

  --space-0-5: 0.125rem;
  --space-1: 0.25rem;
  --space-1-5: 0.375rem;
  --space-2: 0.5rem;
  --space-2-5: 0.625rem;
  --space-3: 0.75rem;
  --space-3-5: 0.875rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--ff-primary) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Override default Mapbox popup styles */
#map .mapboxgl-popup {
  /* filter: drop-shadow(0 2px 4px hsla(0, 0%, 0%, 0.25)); */
}

#map .mapboxgl-popup .mapboxgl-popup-content {
  padding: 0.75rem;
  background-color: var(--clr-50);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.25);
}

#map .mapboxgl-popup .mapboxgl-popup-tip {
  border-top-color: var(--clr-50);
  border-width: 12px;
}
