.container {
  display: grid;
  grid-template-areas:
    'segments stats'
    'segments map'
    'segments details';
  grid-template-columns: min(400px, 100%) 1fr;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
}

.layout {
  height: 100vh;
}

.stats {
  grid-area: stats;
}

.map {
  grid-area: map;
}

.details {
  grid-area: details;
}

.segments {
  grid-area: segments;
  overflow-y: auto;
}

.location__name {
  margin: var(--space-4) 0;
  font-size: var(--fs-4xl);
  font-weight: var(--fw-semi-bold);
  text-align: center;
}

.stats__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stats__item {
  display: flex;
  flex-direction: column;
  color: var(--text-primary-dark);
}

.item__name {
  font-size: var(--fs-xl);
  font-weight: var(--fw-medium);
}

.item__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__value {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-semi-bold);
}

.item__unit {
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--clr-700);
}
